﻿
@{
    ViewBag.Title = "Start";
}

<h2>Start</h2>
<form action="http://loc.macisk.idv.tw/googleapi/oauth/binding" method="post">
    <input type="hidden" name="Provider" value="Google" />
    <input type="hidden" name="ReplayUrl" value="http%3A%2F%2Floc.macisk.idv.tw%2Fgoogleapi%2Foauth%2Fend" />
    <input type="submit" value="binding" />
</form>

